@model IEnumerable<StoreFrontLab.DATA.EF.Status>

@{
    ViewBag.Title = "Status";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    <p>
        @Html.ActionLink("Add New Status", "Create")
    </p>
}

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        @:@Html.ActionLink("Edit", "Edit", new { id = item.StatusID }) |
                        @:@Html.ActionLink("More Info", "Details", new { id = item.StatusID })
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        @:| @Html.ActionLink("Delete", "Delete", new { id = item.StatusID })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}