@model IEnumerable<StoreFrontLab.DATA.EF.Product>
@{
    ViewBag.Title = "Records";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    <p>
        <a href="@Url.Action("Create", "Products")" class="plus">
            <i class="fa fa-plus"></i>
        </a>
        <a href="@Url.Action("GridVinylFilter", "Products")" class="pull-right toggleGrid">
            <i class="fa fa-th-large"></i>
        </a>
    </p>
}
else
{
    <p>
        <a href="@Url.Action("GridVinylFilter", "Products")" class="pull-right toggleGrid">
            <i class="fa fa-th-large"></i>
        </a>
    </p>
}
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.ProdName, "Details", new { id = item.ProdID }, new { @class = "prodTitleLinks" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="~/Content/img/shop/t_@item.ProductImage" alt="@item.ProdName cover" title="@item.ProdName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", new { id = item.ProdID})"><i class="fa fa-pencil"></i></a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Delete", new { id = item.ProdID})"><i class="fa fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}