@{
    ViewBag.Title = "Home Page";
}

@section hero{
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="@Url.Content("~/Content/img/hero/HeroBgd.jpg")">
                <!-- <span>Photo by <a href="https://unsplash.com/@@blocks?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">blocks</a> on <a href="https://unsplash.com/s/photos/records?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>-->
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>All of your favorite vinyls in one place</h2>
                                <a href="#" class="primary-btn">Check it out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="@Url.Content("~/Content/img/hero/heroVCR.jpg")">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>Step into a time machine with one of your favorite classic films</h2>
                                <a href="#" class="primary-btn">Check it out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
}

<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="about__text">
                    <div class="section-title">
                        <span>Old School</span>
                        <h2>Your one-stop-shop for all vintage media!</h2>
                    </div>
                    <p>
                        With a selection that remains unmatched, come and stock up on all of your favorite records, VHS tapes, cassetes, and laserdiscs.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">

            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Categories Section Begin -->
<div class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <img src="~/Content/img/All.png" />
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <img src="~/Content/img/VHStapeNEW.png" />
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <img src="~/Content/img/Record.png" />
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <img src="~/Content/img/Cassette.png" />
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <img src="~/Content/img/Laserdisc.png" />
                    </div>
                </div>
                @*<div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-034-chocolate-roll"></span>
                            <h5>Butter</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-005-pancake"></span>
                            <h5>Red Velvet</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-030-cupcake-2"></span>
                            <h5>Biscuit</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-006-macarons"></span>
                            <h5>Donut</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-006-macarons"></span>
                            <h5>Cupcake</h5>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<!-- Categories Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/Content/img/shop/product-1.jpg")">
                        <div class="product__label">
                            <span>VHS</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/Content/img/shop/product-2.jpg")">
                        <div class="product__label">
                            <span>VHS</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cookies and Cream</a></h6>
                        <div class="product__item__price">$30.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/Content/img/shop/product-3.jpg")">
                        <div class="product__label">
                            <span>LaserDisc</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Gluten Free Mini Dozen</a></h6>
                        <div class="product__item__price">$31.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/Content/img/shop/product-4.jpg")">
                        <div class="product__label">
                            <span>Record</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cookie Dough</a></h6>
                        <div class="product__item__price">$25.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/Content/img/shop/product-5.jpg")">
                        <div class="product__label">
                            <span>Record</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Vanilla Salted Caramel</a></h6>
                        <div class="product__item__price">$05.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/Content/img/shop/product-6.jpg")">
                        <div class="product__label">
                            <span>Cassette</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">German Chocolate</a></h6>
                        <div class="product__item__price">$14.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/Content/img/shop/product-7.jpg")">
                        <div class="product__label">
                            <span>VHS</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Dulce De Leche</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/Content/img/shop/product-8.jpg")">
                        <div class="product__label">
                            <span>Cassette</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Mississippi Mud</a></h6>
                        <div class="product__item__price">$08.00</div>
                        <div class="cart_add">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
