@model IEnumerable<StoreFrontLab.DATA.EF.MusicGenre>

@{
    ViewBag.Title = "Music Genres";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
<p>
    @Html.ActionLink("Add a Genre", "Create")
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MusicGenreName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MusicGenreName)
            </td>
            <td>
                @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                {
                    @:@Html.ActionLink("Edit", "Edit", new { id = item.MusicGenreID }) |
                    @:@Html.ActionLink("More Info", "Details", new { id = item.MusicGenreID })
                }
                @if (User.IsInRole("Admin"))
                {
                    @:| @Html.ActionLink("Delete", "Delete", new { id = item.MusicGenreID })
                }
            </td>
        </tr>
    }

</table>
