@model IEnumerable<StoreFrontLab.DATA.EF.Artist>

@{
    ViewBag.Title = "Artists";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    <p>
        @Html.ActionLink("Add Artist", "Create")
    </p>
}

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", new { id = item.ArtistID})"><i class="fa fa-pencil pull-right"></i></a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <br />
                        <a href="@Url.Action("Delete", new { id = item.ArtistID})"><i class="fa fa-trash pull-right"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}